<div class='nested-fields'>
  <div class='form-group'>
  <%= form.hidden_field :_destroy %>

  <%= form.label :achievements %>
  <%= form.text_field :achievements, class: 'form-control' %>

  <%= form.label :hobbies %>
  <%= form.text_field :hobbies, class: 'form-control' %>
  
  <%= form.label :strengths %>
  <%= form.text_field :strengths, class: 'form-control' %>
 
  <%= form.label :weaknesses %>
  <%= form.text_field :weaknesses, class: 'form-control' %>
 
  
  </div>
</div>