<div class='nested-fields'>
  <div class='form-group'>
  <%= form.hidden_field :_destroy %>

  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>

  <%= form.label :description %>
  <%= form.text_field :description, class: 'form-control' %>
  
  <%= form.label :technologies %>
  <%= form.text_field :technologies, class: 'form-control' %>

  <%= form.label :URL %>
  <%= form.text_field :URL, class: 'form-control'%>  
  <small>
  <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
  </small>
  </div>
</div>