<div class='nested-fields'>
  <div class='form-group'>
  <%= form.hidden_field :_destroy %>

  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>

  <%= form.label :level %>
  <%= form.text_field :level, class: 'form-control' %>
  
  </div>
</div>