
<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>
  
 
  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.fields_for :additional_informations,  AdditionalInformation.new, child_index: 'TEMPLATE_RECORD' do |additional_information| %>
        <%= render 'additional_informations_fields', form: additional_information %>
      <% end %>
    </template>

    <%= form.fields_for :additional_informations do |additional_information| %>
      <%= render 'additional_informations_fields', form: additional_information %>
    <% end %>

  </div>



<% end %>