
<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>
  
 
  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.fields_for :additional_informations,  AdditionalInformation.new, child_index: 'TEMPLATE_RECORD' do |additional_information| %>
        <%= render 'additional_informations_fields', form: additional_information %>
      <% end %>
    </template>

    <%= form.fields_for :additional_informations do |additional_information| %>
      <%= render 'additional_informations_fields', form: additional_information %>
    <% end %>

  </div>
  <hr class="-mx-20">
            
            <div data-target="nested-form.add_item"  class="flex justify-end py-8 lg:mt-12 flex items-center w-16 bg-blue-600 text-gray-200 rounded hover:bg-blue-500 px-4 py-2 focus:outline-none" href="resume.html"><br>

      <%= link_to "Add ", "#", data: { action: "nested-form#add_association" } %>
          </div><br>
    <div class="actions">
    <%= form.submit "Continue" %>
    or <%= link_to "skip this step", next_wizard_path %>
  </div>
            </div>
              <div class="actions">
    <%= form.submit %>
  </div>



<% end %>