<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>
  
  
  <div data-controller="nested-form">
  <template data-target='nested-form.template'>
      <%= form.fields_for :educations,  Education.new, child_index: 'TEMPLATE_RECORD' do |education| %>
        <%= render 'education_fields', form: education %>
      <% end %>
      </template>
    
    <%= form.fields_for :educations do |education| %>
      <%= render 'education_fields', form: education %>
    <% end %> 

    </div>
     <hr class="-mx-20">
            
            <div data-target="nested-form.add_item"  class="flex justify-end py-8 lg:mt-12 flex items-center w-16 bg-blue-600 text-gray-200 rounded hover:bg-blue-500 px-4 py-2 focus:outline-none" href="resume.html"><span class="material-icons pr-1" style="font-size: 18px;"></span>

      <%= link_to "Add", "#", data: { action: "nested-form#add_association" } %>
          </div><br>
          
            <div class="actions">
                <%= form.submit %>
        </div>


<% end %>