<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>
  
  
  <div data-controller="nested-form">
  <template data-target='nested-form.template'>
      <%= form.fields_for :educations,  Education.new, child_index: 'TEMPLATE_RECORD' do |education| %>
        <%= render 'education_fields', form: education %>
      <% end %>
      </template>
    
    <%= form.fields_for :educations do |education| %>
      <%= render 'education_fields', form: education %>
    <% end %> 
    </div>

<% end %>