
<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>
  
 
  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.fields_for :projects, Project.new, child_index: 'TEMPLATE_RECORD' do |project| %>
        <%= render 'project_fields', form: project %>
      <% end %>
    </template>

    <%= form.fields_for :projects do |project| %>
      <%= render 'project_fields', form: project %>
    <% end %> 
  </div>

 
<% end %>