<%= form_with(model: @user, url: wizard_path, local: true) do |form| %> 

  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.fields_for :skills,  Skill.new, child_index: 'TEMPLATE_RECORD' do |skill| %>
        <%= render 'skill_fields', form: skill %>
      <% end %>
    </template>

    <%= form.fields_for :skills do |skill| %>
      <%= render 'skill_fields', form: skill %>
    <% end %>
    

   <hr class="-mx-20">
            
            <div data-target="nested-form.add_item"  class="flex justify-end py-8 lg:mt-12 flex items-center w-16 bg-blue-600 text-gray-200 rounded hover:bg-blue-500 px-4 py-2 focus:outline-none" href="resume.html"><br>

      <%= link_to "Add ", "#", data: { action: "nested-form#add_association" } %>
          </div><br>
          
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %> 