

<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>


    <div data-controller="nested-form">
      <template data-target='nested-form.template'>
        <%= form.fields_for :work_experiences,  @user.work_experiences, child_index: 'TEMPLATE_RECORD' do |work_experience| %>
          <%= render 'work_experiences_fields', form: work_experience %>
        <% end %>
      </template>
  
      <%= form.fields_for :work_experiences do |work_experience| %>
        <%= render 'work_experiences_fields', form: work_experience %>
      <% end %>

      
    </div>
  
    
  <% end %>