<%= form_with(model: @user, url: wizard_path, local: true) do |form| %>
  
    <h1>Tasks</h1>
    <div data-controller="nested-form">
      <template data-target='nested-form.template'>
        <%= form.fields_for :work_experiences,  @user.work_experiences, child_index: 'TEMPLATE_RECORD' do |work_experience| %>
          <%= render 'work_experiences_fields', form: work_experience %>
        <% end %>
      </template>
  
      <%= form.fields_for :work_experiences do |work_experience| %>
        <%= render 'work_experiences_fields', form: work_experience %>
      <% end %>
  
      <div data-target="nested-form.add_item">
        <%= link_to "Add Task", "#", data: { action: "nested-form#add_association" } %>
      </div>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>