<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Template 1</title>
 <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
 <link rel="stylesheet" href="temp1.css">
 <script src="https://kit.fontawesome.com/yourcode.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <!-- component -->

<div class="md:flex flex-col md:flex-row md:min-h-screen ">
  <div  class="flex flex-col  sidebar-width text-gray-700 bg-blue-900 shadow-2xl  flex-shrink-0" >
    <div class=" p-6">
     <div class="candidate text-center">
      <span class="font-semibold tracking-widest text-white text-3xl" name="firstname" id="firstname"><td><%= @user.personaldetail.first_name %></td></span> <span class="font-semibold tracking-widest text-white text-3xl"  name="lastname" id="lastname"><td><%= @user.personaldetail.last_name %></td></span><br>
      <div class="">
      <span class=" text-white text-lg" name="profession" id="profession"><i>Software Engineer</i> </span> 
     </div>
    </div>
   </div>
  
   
    <div class="bg-indigo-800">
     <div class="py-2 px-5">
    <span class="text-white font-semibold text-2xl "><td><%= @user.personaldetail.mobile_no %></td></span>
   </div>
   </div>
   <div class="py-3 px-5 text-blue-100 ">
    <p><i class="fa  fa-map-marker py-2" aria-hidden="true"></i> <span class="city pl-2"><td><%= @user.personaldetail.city %></td></span> , <span class="state"><td><%= @user.personaldetail.state %></td></span>, <span class="pin-code"><td><%= @user.personaldetail.pin_code %></td></span></p>
    <p><i class="fa fa-phone py-2" aria-hidden="true"></i> <span class="telephone pl-1"><td><%= @user.personaldetail.mobile_no %></td></span> </p>
    <p><i class="fa fa-envelope py-2" aria-hidden="true"></i> <span class="telephone pl-1"><td><%= @user.personaldetail.gmail %></td></span> </p>
   </div>
   <div class="bg-indigo-800">
    <div class="py-2 px-5">
   <span class="text-white font-semibold text-2xl ">Skills</span>
  </div>
   </div>
  
   <div class="py-3 px-5 text-blue-100 ">
   <% @user.skills.each do |skill| %>
    <p class="py-1"> <span class="city"><td><%= skill.name %></td></span> </p>
    <p class="py-1"> <span class="telephone"><td><%= skill.level %></td></span> </p>
    
    <% end %>
   </div>
   
  
</div>

  <div class="p-16">
   <div class="personal-info">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
   </div>
   
  <p class="mt-6 ">
   <hr>
  <p class="py-2 text-2xl font-semibold text-blue-900"> WORK HISTORY</p>
   <hr>
   </p>
  
   <div class="grid grid-cols-8 gap-8 mt-5">
    <div class="col-span-2  ">   
    <% @user.work_experiences.each do |work_experience| %>
     <span class="start-date text-gray-500 text-lg"><td><%=work_experience.start_date %></td> -</span><br>
     <span class="end-date text-gray-500 text-lg"><td><%=work_experience.end_date %></td></span>
     <% end %> 
    </div>
    <div class="col-span-6">
     <p class=" font-semibold text-xl job-role text-blue-700">Front-End Developer</p>
     <p class=" text-sm" class="company-name" >
      <i class="text-gray-600">Grey Campus</i><br>
     </p>
     <div class=" mt-2">
      <ul class="list-disc pl-4 text-sm ">
       <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
       <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
       <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      </ul>
      </div>
    </div>

    <div class="col-span-2  ">   
     <span class="start-date text-gray-500 text-lg">11/12/2020 -</span><br>
     <span class="start-date text-gray-500 text-lg">11/12/2020</span> 
    </div>
    <div class="col-span-6">
     <p class=" font-semibold text-xl job-role text-blue-700">Front-End Developer</p>
     <p class=" text-sm" class="company-name" >
      <i class="text-gray-600">Grey Campus</i><br>
     </p>
     <div class=" mt-2">
      <ul class="list-disc pl-4 text-sm ">
       <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
       <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
       <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      </ul>
      </div>
    </div>

  </div>


 <div class="projects-section">
 <hr class="mt-10">
 <p class="py-2 text-2xl font-semibold text-blue-900"> PROJECTS</p>
 <hr>
 <ol class="list-decimal">
 <div class="grid grid-cols-8 gap-3 mt-5">
  <div class="col-span-8">
   <li class="ml-4 font-semibold text-blue-700">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
  </div>
  <div class="col-span-2">   
   <span class="start-date text-gray-500 text-md">Technologies Used:</span><br>
   <div class="technologies mt-2">
   <% @user.projects.each do |project| %>
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"><td><%= project.title %></td></span>
   
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"> <td><%= project.technologies %></td></span>
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"><td><%= project.URL %></td></span>
   <% end %>
   </div>
    </div>
  <div class="col-span-6">
  <% @user.projects.each do |project| %>
   <p class=" font-semibold text-gray-500 text-md job-role mb-2">Description:</p>
   <p class="text-sm">
   <td><%= project.description %></td>   </p>
   <% end %>
  </div>
  
  <div class="col-span-8">
   <li class="ml-4 font-semibold text-blue-700">Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
  </div>
  <div class="col-span-2">   
   <span class="start-date text-gray-500 text-md">Technologies Used:</span><br>
   <div class="technologies mt-2">
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"> Html</span>
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"> CSS</span>
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"> Javascript</span>
   <span class="text-xs p-1 bg-indigo-900 text-white rounded"> Ajax</span>
   </div>
    </div>
  <div class="col-span-6">
   <p class=" font-semibold text-gray-500 text-md job-role mb-2">Description:</p>
   <p class="text-sm description">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
   </p>
  </div>

</div>
</ol>

  </div>

  <div class="education-section">
   <p class="mt-10 ">
    <hr>
   <p class="py-2 text-2xl font-semibold text-blue-900">EDUCATION HISTORY</p>
    <hr>
    </p>
    <div class="grid grid-cols-8 gap-8 mt-5">
     <div class="col-span-2  ">  
     <% @user.educations.each do |education| %> 
      <span class="start-date-education text-gray-500 text-lg"><td><%= education.start_date %></td> -</span><br>
      <span class="end-date-education text-gray-500 text-lg"><td><%= education.end_date %></td></span> 
     </div>
     <div class="col-span-6">
      <p class=" font-semibold text-xl education-qualification text-blue-700"><td><%= education.qualification %></td></p>
      <p class=" text-sm" class="company-name" >
       <i class="text-gray-600 education-college"><td><%= education.institute_name %></td></i><br>
      </p>
      <div class="education-specification mt-2">
       <ol class="list-decimal pl-4 text-sm ">
        <li><td><%= education.specification %></td></li>
        <li><td><%= education.marks %></td></li>
        <% end %>
        
       </ol>
       </div>
     </div>
    
     
     
<p id="pdf_link"><%= link_to "Download PDF", user_template_path(:id=>1, :user_id=> @user, format: "pdf") %></p>
   </div>
  </div>


</div>

</body>
</html>
