<p id="notice"><%= notice %></p>

<h1>Additional Informations</h1>

<table>
  <thead>
    <tr>
      <th>Achievements</th>
      <th>Hobbies</th>
      <th>Strengths</th>
      <th>Weaknesses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additional_informations.each do |additional_information| %>
      <tr>
        <td><%= additional_information.achievements %></td>
        <td><%= additional_information.hobbies %></td>
        <td><%= additional_information.strengths %></td>
        <td><%= additional_information.weaknesses %></td>
        <td><%= link_to 'Edit Education', edit_user_additional_information_path(user_id: @user,id: additional_information) %></td>
        <td><%= link_to 'Destroy',user_additional_information_path(user_id: @user,id: additional_information), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_tag 'Edit Additional Information',id: "edit_education_form" %>
<div id="additional_information_form">
<%= render 'form', additional_information: AdditionalInformation.new() ,form_url: question.comments}%>
</div>
