<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @work_experience.company %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @work_experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @work_experience.end_date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @work_experience.position %>
</p>

<%= link_to 'Edit', edit_work_experience_path(@work_experience) %> |
<%= link_to 'Back', work_experiences_path %>
