<%= form_with(model: personaldetail,url:user_personaldetails_path,method: :post, local: true) do |form| %>
  <% if personaldetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personaldetail.errors.count, "error") %> prohibited this personaldetail from being saved:</h2>

      <ul>
        <% personaldetail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :gmail %>
    <%= form.text_field :gmail %>
  </div>

  <div class="field">
    <%= form.label :mobile_no %>
    <%= form.text_field :mobile_no %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :pin_code %>
    <%= form.text_field :pin_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
