<%= form_with(model: user,local: true) do |form| %>
  <h2>Enter User Details</h2>

  <div class="field">
   <%= form.label :name, 'Name:' %>
   <%= form.text_field :name, size: 40 %>
  </div>
  <div class="field">
   <%= form.label :password, 'Password:' %>
   <%= form.password_field :password, size: 40 %>
  </div>
  <div class="field">
   <%= form.label :password_confirmation, 'Confirm:' %>
   <%= form.password_field :password_confirmation,
   id: :user_password_confirmation,
   size: 40 %>
  
    </div>
    
    <% if false %>
  <h1>Tasks</h1>
  <div data-controller="nested-form">
    <template data-target='nested-form.template'>
      <%= form.fields_for :educations, Education.new, child_index: 'TEMPLATE_RECORD' do |task| %>
        <%= render './forms/education_fields', form: task %>
      <% end %>
    </template>

    <div data-target="nested-form.add_item">
      <%= link_to "Add Education", "#", data: { action: "nested-form#add_association" } %>
    </div>
    
  </div>
  <% end %> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>