<div class="nested-fields">
  <div class="field">
    <%= f.label :institute_name %>
    <%= f.text_field :institute_name %>
  </div>

  <div class="field">
    <%= f.label :qualification %>
    <%= f.text_field :qualification %>
  </div>

  <div class="field">
    <%= f.label :specification %>
    <%= f.text_field :specification %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :marks %>
    <%= f.text_field :marks %>
  </div>
  <%= link_to_remove_association "remove task", f %> 
</div>