<p id="notice"><%= notice %></p>

<p>
  <strong>Institute name:</strong>
  <%= @education.institute_name %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @education.qualification %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @education.specification %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @education.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @education.end_date %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @education.marks %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
